body {
    margin: 0;
    padding: 0;
    background-color: #051622;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar > div {
    padding: 15px;
}

.nav-item a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.title {
    padding: 15px;
}

.title a {
    text-decoration: none;
    color: inherit;
}

.content-area {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-text {
    padding: 30px;
}




